name: offline_emergency_app
description: "Offline Emergency Intelligence System"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  firebase_core: ^3.6.0
  cloud_firestore: ^5.5.0

  connectivity_plus: ^6.0.3

  
  flutter_map: ^7.0.0
  latlong2: ^0.9.1

  google_generative_ai: ^0.4.6
  cupertino_icons: ^1.0.8

  url_launcher: ^6.2.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/logo.png
